body {
    //font-family: 'Sunflower', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h2, h3 {
    font-family: 'Sunflower', sans-serif;
}

h2 {
    font-size: 45px;
    &:before{
        content: "" ;
        width: 23px;
    }
}

p{
    font-size: 18px;
}
.pl-pattern {   
    padding: 0 8.2% !important;
   }   

header {
    background: #d7d7d7;
    min-height: 100vh;
    position: relative;
    
    .navbar{
        height: 10vh;
    }

    .slick-slide{
        color: #fff; 
        height: 90vh;
    }

    .banner {
        bottom: 0;
        color: white;
        padding: 0 8.2%;
        position: absolute; 
    }

    svg {
        height: 50px;
        width:50px;
        path {
            fill: #fff; 
        }
    }
    .card-values{
        background: rgba(#000, 0.4);
    }
}

.section-about {
    padding: 100px 0;
    .about-text {
        padding-left: 8.2%
    }
    

    
    a{
        color: #212529
    }
}

.section-projects {
    background:#003057; 
    color: #fff; 
    padding: 50px 0;
    height: 100vh;

    svg {
        height: 50px;
        width: 50px;
        path {
            fill: #fff;
        }
    }

    .text-project{
      padding-left: 8.2%;  
    }
    
    .active-project{
      svg {
        path {
            fill: yellow;
        }
      }  
    }
}


.section-construction{

}

.section-myhouse{

}

.section-contact{
    height: 50vh;
    padding: 0 15.2%;
    background: #d7d7d7;
    
    .a-telefone{
        font-size: 30px;
        font-family: 'Sunflower';
        font-weight: 300;
    }
  
    a{
        color: #212529;
        text-decoration: none;
        &:hover{
            svg{
                path{
                    fill: #003057;
                }
            }
        }
    }

    svg{
        height: 50px;
        width: 50px; 
        transition: .4s;
       path{
           fill: #212529;
       }
    }
    
    .ic-whats{
        padding-left: 10px ;
        height: 30px !important;
        width: 30px !important;
    }

}

footer {
    background: black;
    height: 10vh;
}